
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: white;
  font-family: Arial, sans-serif;
}

.container {
  background-color: black;
  border-radius: 10px;
  padding: 25px;
  max-width: 380px;
  color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  background-size: cover;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 60px;

}

.master {
  width: 30px;
  margin-right: 0px;
  font-size: 40px;
  width: 50px;
  height: 50px;
  margin-top: 2px;
 
}
 .mas{
  font-size: 30px;
  justify-content: space-between;
  display: flex;
  align-items: center;
 }
h5 {
  margin: 0;
  font-weight: bold;
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.number {
  font-size: 18px;
  margin-bottom: 10px;
  
}

.name {
  font-size: 14px;
}

.card h6 {
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

.chip {
  font-size: 60px;
  margin-top: 10px;
  margin-left: 80px;

}
